p {
    margin: 0;
}
h2 {
    font-weight: 700;
}
strong {
	font-weight: 700;
}

.columns input[type="text"] {
    width: 100px;
    display: inline-block;
    max-width: 100%;
    padding: 0;
    line-height: 28px;
    height: 28px;
    border-radius: 3px;
}
.columns input[type="submit"] {
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    line-height: 22px;
}